<div class="relative">
  <div class="flex justify-center px-10 py-1">
    <!--  slider-->
    <div class="m-auto relative">
      <img ngSrc="./assets/background-1.jpg" alt="" height="675" width="1200" class="bd-radius-1 z-1"/>
      <div class="overlay-1 bd-radius-1 z-3 absolute"></div>
      <div class="absolute z-4 t-0 b-0 l-0 r-0 m-auto" >
          <ng-container [ngTemplateOutlet]="countDown">

          </ng-container>
      </div>
    </div>


    <div id="player" class="hidden">
      <audio #audioPlayer autoplay>
        <source src="./assets/mp3/track-1.mp3" type="audio/mp3" />
      </audio>
    </div>
  </div>

  <app-toast
      [title]="'Happy new year 2025 ️️🎉️🎊️🎉️🎊️🎉️🎊'"
      [position]="'Top-right'"
      [tone]="'Info'"
      [(active)]="activeToast"
      (onDismiss)="onDismissToast($event)"
  >
    <div >Chúc bạn có một năm mới an khan thịnh vượng, tràn đầy sức khỏe.</div>
    <br/>
    <div>Hãy lướt xuống để có nhiều trải nghiệm thú vị hơn nữa nhé 😉</div>
  </app-toast>
</div>


<ng-template #countDown>
    <div class="w-25 m-auto text-white">
      <div class="countdown-container">
        <h2>We Are Coming Soon</h2>
        <div class="countdown-boxes">
          <div class="countdown-box">
            <div class="count-value">{{ timeDisplay.days }}</div>
            <div class="count-label">Days</div>
          </div>
          <div class="countdown-box">
            <div class="count-value">{{ timeDisplay.hours }}</div>
            <div class="count-label">Hours</div>
          </div>
          <div class="countdown-box">
            <div class="count-value">{{ timeDisplay.minutes }}</div>
            <div class="count-label">Minutes</div>
          </div>
          <div class="countdown-box">
            <div class="count-value">{{ timeDisplay.seconds }}</div>
            <div class="count-label">Seconds</div>
          </div>
        </div>
      </div>


    </div>
</ng-template>

