<div class="relative">
  <div class="block">
    <app-page>
      <app-count-down></app-count-down>
    </app-page>

    <app-page>
      <app-congratulate></app-congratulate>
    </app-page>

    <div class="hidden" id="player">
      <audio #audioPlayer autoplay>
        <source src="./assets/mp3/track-2.mp3" type="audio/mp3" />
      </audio>
    </div>
  </div>

  <app-toast
    (onDismiss)="onDismissToast($event)"
    [(active)]="activeToast"
    [position]="'Top-right'"
    [title]="'Happy new year 2025 ️️🎉️🎊️🎉️🎊️🎉️🎊'"
    [tone]="'Info'"
  >
    <div>Chúc bạn có một năm mới an khan thịnh vượng, tràn đầy sức khỏe.</div>
    <br />
    <div>Hãy lướt xuống để có nhiều trải nghiệm thú vị hơn nữa nhé 😉</div>
  </app-toast>

  <div class="fixed z-4 b-0 l-0 r-0 text-white">
    <app-calender></app-calender>
  </div>
</div>




