<div class="calender-wrapper"
  [ngClass]="{
     'calender-expand': isExpand,
     'calender-close': !isExpand
  }"
>
  <header>
    <p class="current-date">{{months[currentMonth]}} {{currentYear}}</p>
    <div class="icons">
      <span #prevNextIcon class="material-symbols-rounded" id="prevCalender" (click)="handleChangeMonth('previous', currentMonth)">
          <svg height="20" viewBox="0 0 320 512" width="20" xmlns="http://www.w3.org/2000/svg"><path
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" /></svg>
      </span>

      <span class="material-symbols-rounded" id="nextCalender" (click)="handleChangeMonth('next', currentMonth)">
         <svg height="20" viewBox="0 0 320 512" width="20" xmlns="http://www.w3.org/2000/svg"><path
          d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" /></svg>
      </span>
      <span class="material-symbols-rounded" (click)="handleDismiss()">
        <i class="fa-solid fa-x dismiss-button"></i>
      </span>
    </div>
  </header>
  <div class="calendar">
    <ul class="weeks">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>
    <ul #daysTag class="days">
      <li
        *ngFor="let day of days"
        [ngClass]="{
            'inactive': day.key !== 'cur',
            'special': specialDays.includes(day.value + '-' + currentMonth + '-' + currentYear) && day.key === 'cur',
        }"
      >{{day.value}}</li>
    </ul>
  </div>
</div>
