/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.calender-wrapper {
  width: 560px;
  background: #851a20;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  color: rgba(255, 255, 255, 0.8);
}
.calender-wrapper header{
  display: flex;
  align-items: center;
  padding: 10px 30px;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.calender-wrapper header .icons {
  display: flex;
}

.calender-wrapper header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  /*color: #878787;*/
  text-align: center;
  line-height: 46px;
  font-size: 1.3rem;
  user-select: none;
  border-radius: 50%;
}

#prevCalender svg,
#nextCalender svg {
  fill: rgba(255, 255, 255, 0.8);
}

.icons span:last-child{
  margin-right: 10px;
}
header .icons span:hover{
  background: black;
}
header .current-date{
  font-size: 1.5rem;
  font-weight: 500;
}
.calendar{
  padding: 10px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 30px;
}
.calendar li{
  color: rgba(255, 255, 255, 0.8);
  width: calc(100% / 7);
  font-size: 1rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #979696;
}
.days li.active {
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: black;
}

.days li.special {
  color: #d8a60a
}

.calender-close {
  display: none;
}
